Options -Indexes
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^pycurl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://kentthompson.org/$1 [L, R=301]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|public|css|js|robots\.txt)
RewriteRule ^(.*)$ index.php/params=$1 [L,QSA]
